@import "../../../../../assets/styles/mixins.scss";
@import "../../../../../assets/styles/variables.scss";

.content {
    @include flex($justify: space-around, $gap: 1.5rem);
    margin-top: 5rem;

    .image {
        @include flex();
        position: relative;
        width: 30%;
        transform: translateX(5%);

        .cloud {
            position: absolute;
            width: 35%;
            
            &.code {
                top: -80px;
                left: 0;
            }

            &.graph {
                top: -50px;
                right: 0;
                transform: rotate(-5deg);
            }

            img {
                width: 100%;
                &.no-hover {
                    @include absoluteTL(0,0);
                }
                &.hover {
                    display: none;
                }
            }

            &:hover {
                img {
                    cursor: pointer;
                    &.no-hover {
                        display: none;
                    }
                    &.hover {
                        display: block;
                    }
                }
            }
        }

        .chibi {
            width: 35%;
        }
    }

    .text {
        width: 50%;
        font-family: "biko";
        color: $white;
        font-size: 1.25rem;
    }
}