<div class="content">
    <div class="image">
        <div class="cloud code">
            <img src="assets/image/bulle-code.png" alt="" class="no-hover">
            <img src="assets/image/bulle-code-pourpre.png" alt="" class="hover">
        </div>
        <div class="cloud graph">
            <img src="assets/image/bulle-graph.png" alt="" class="no-hover">
            <img src="assets/image/bulle-graph-pourpre.png" alt="" class="hover">
        </div>
        <img src="assets/image/chibi.png" alt="" class="chibi">
    </div>
    <div class="text">
        <p>
            Passionnée par le développement web et le dessin. 
            Je suis actuellement en 3ème année du BUT MMI (Métiers du Multimédia et de l'Internet) en alternance à la Ligue de Football Professionnel.
        </p>
        <p>
            Aussi bien intéressée par le front-end que le back-end, j'aime apprendre de nouvelles connaissance afin de devenir afin de devenir développeuse fullstack.
        </p>
    </div>
</div>